.card-body{
    font-size: 12px;
}
.form-group{
    margin-bottom: 10px;
}
input, textarea, select{
    text-transform: uppercase;
}
html {
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}