.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper .sidebar-main .simplebar-offset{
    height: 100% !important;
}
.table-laporan-kunjungan th{
    border: 1px solid black;
    vertical-align: middle;
    border-bottom : 1px solid black !important;
    border-color : black !important;
}

.table-laporan-kunjungan td{
    border: 1px solid black;
    vertical-align: middle;
    border-bottom : 1px solid black !important;
    border-color : black !important;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #e9ecef !important;
    opacity: 1;
}
.no-uppercase{
    text-transform: none !important;
}
.table-responsive .btn{
    padding: 5px !important;
}
.tableFixHead          { overflow: auto; height: 400px; }
.tableFixHead thead { position: sticky; top: 0; z-index: 1; background-color: white; }
html {
zoom: 80%;
  }

.page-wrapper.compact-wrapper .page-body-wrapper div.sidebar-wrapper{
    height: 125vh !important;
}
.modal-backdrop.show{
    width: 100%;
    height: 100%;
}
.login-card{
    height: 125vh !important;
}